# Env files
.env

# Binaries
*.exe
*.dll
*.so
*.dylib
main
main.exe

# Go build cache
/build
/bin
/tmp

# IDE files
.vscode/
.idea/

# Logs
*.log

# Ignore JWT RSA keys
config/private.pem
config/public.pem
*.pem
